$font-sizes: (
	s: 0.8rem,
	m: 1rem,
	l: 1.2rem,
	xl: 1.5rem,
	xxl: 2rem,
	xxxl: 2.5rem
);

$font-weights: (
	light: 300,
	regular: 400,
	medium: 500,
	semi-bold: 600,
	bold: 700,
	extra-bold: 800
);
