.interface {
  grid-column: 3 / 5;
  place-self: center;
  width: 80%;
  margin: auto 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 1rem;

  &__upload {
    grid-column: 1 /2;
  }

  &__check {
    grid-column: 3 /4;
  }

  &__upload[type="file"] {
    display: none;
  }
}
