.interface {
  grid-column: 5 / 8;
  place-self: center;
  width: 95%;
  margin: auto 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 1rem;

  &[data-opened="false"] {
    grid-column: 3 / 9;
    width: 50%;
  }

  &__cancel {
    grid-column: 3 / 4;
    margin-left: auto;

    &[data-dir="true"]{
      margin-left: 0;
      margin-right: auto;
    }
  }

  &__text {
    grid-column: 1 / 4;
    box-shadow: 0 0 0.2rem 0.2rem var(--clr-primary-900);
    border-radius: var(--dr);
    padding: 2rem;
  }

  &__upload {
    grid-column: 1 /2;
  }

  &__check {
    grid-column: 3 /4;
  }

  &__upload[type="file"] {
    display: none;
  }
}
