.result {
  width: 100%;
  background-color: var(--clr-primary-700);
  color: var(--clr-neutral-100);
  padding: 1rem 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  &__title {
    font-size: var(--fs-s);
    grid-column: 1 / 4;
    // max-width: 80ch;
    // white-space: nowrap;
    // overflow: hidden;
    // text-overflow: ellipsis;
  }

  &__rate {
    grid-column: 4/6;
    margin-left: auto;
  }

  &__authors {
    font-size: var(--fs-s);

    &__author:first-of-type {
      margin-top: 1rem;
      font-weight: var(--fw-semi-bold);
    }
  }

  &__deep {
    grid-column: 4/6;
    margin-left: auto;
    margin-top: auto;
  }
}
